//COLORS
$white: #fff;
$pink: #ff9f9f;
$dark-pink: #f58787;
$magenta: #ef4a89;
$dark-magenta: #c33a6e;
$grey: #6e6a6a;
$very-dark-blue: #1d165a;
$blue-shadow: #505b7f;
//breakpoint
$breakpoint-large: 1024px;